[submodule "sentinel-2/workflows"]
	path = sentinel-2/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "sentinel-1/workflows"]
	path = sentinel-1/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "landsat/workflows"]
	path = landsat/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "water-classification/workflows"]
	path = water-classification/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "mlwater-classification/workflows"]
	path = mlwater-classification/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "sentinel-2-l1c/workflows"]
	path = sentinel-2-l1c/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "search-and-discovery/workflows"]
	path = search-and-discovery/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "modis-nbar/workflows"]
	path = modis-nbar/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "sentinel-3-syn/workflows"]
	path = sentinel-3-syn/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "sentinel-2-l1c-v5/workflows"]
	path = sentinel-2-l1c-v5/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
