[submodule "sentinel-2/workflows"]
	path = sentinel-2/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
[submodule "sentinel-1/workflows"]
	path = sentinel-1/workflows
	url = https://github.com/SatelliteApplicationsCatapult/ard-workflows.git
